/* IMPORTS */
/* GLOBAL COLORS*/
/* TEXT COLORS */
/* OTHER COLORS */
/* FONT WEIGHT */
body {
  overflow-x: hidden; }

@media screen and (max-width: 1030px) {
  .container {
    max-width: 100%;
    padding: 0 40px; } }

p, h1 {
  font-family: 'Montserrat', sans-serif; }

.green {
  color: #8fc642; }

.light-weight {
  font-weight: 300; }

.regular-weight {
  font-weight: 400; }

.bold-weight {
  font-weight: 700; }

.extra-bold-weight {
  font-weight: 800; }

.black-weight {
  font-weight: 900; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.la-star {
  color: #fac306; }

.header .btn-primary, .cards .btn-primary {
  background-color: #fd942e;
  border: none;
  font-size: 18px;
  padding: 21px 75px;
  font-weight: 400; }
  @media screen and (max-width: 1030px) {
    .header .btn-primary, .cards .btn-primary {
      padding: 21px 35px; } }

.form-decoration {
  position: absolute;
  z-index: 2; }
  .form-decoration img {
    max-width: 70%; }
  .form-decoration.rounded {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    top: 56%;
    right: 0;
    -webkit-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%); }
  .form-decoration.square {
    top: 33%;
    left: 0;
    -webkit-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%); }

.header {
  height: 690px;
  background: url("../images/header-bg-img.png") no-repeat right bottom;
  -webkit-background-size: cover;
          background-size: cover; }
  .header-text {
    padding-top: 63px; }
    .header-text__top {
      width: 100%;
      padding-bottom: 56px;
      padding-left: 40px; }
    .header-text__bottom-left {
      padding-left: 60px; }
      .header-text__bottom-left p {
        color: white;
        font-size: 31px;
        margin-bottom: 50px; }
        @media screen and (max-width: 1030px) {
          .header-text__bottom-left p {
            font-size: 22px; } }
        .header-text__bottom-left p span {
          display: block; }
      .header-text__bottom-left .text-1 {
        font-size: 39px; }
        @media screen and (max-width: 1030px) {
          .header-text__bottom-left .text-1 {
            font-size: 28px; } }
      .header-text__bottom-left .text-2 {
        font-size: 21px; }
        @media screen and (max-width: 1030px) {
          .header-text__bottom-left .text-2 {
            font-size: 17px; } }
      .header-text__bottom-left .text-3 {
        font-size: 33px; }
        @media screen and (max-width: 1030px) {
          .header-text__bottom-left .text-3 {
            font-size: 23px; } }
    @media screen and (max-width: 1030px) {
      .header-text__bottom-right {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .header-text__bottom-right img {
          max-width: 85%; } }

.encart-title h1 {
  padding: 130px 0 10px;
  font-size: 48px;
  font-weight: 600; }

.encart-title p {
  font-size: 16px;
  padding: 0 50px; }

.cards {
  margin-top: 90px;
  margin-bottom: 60px; }
  @media screen and (max-width: 1030px) {
    .cards .row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  .cards .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    border: none;
    margin-bottom: 150px; }
    @media screen and (max-width: 1030px) {
      .cards .card {
        text-align: center; }
        .cards .card-img {
          -webkit-box-ordinal-group: 3;
          -webkit-order: 2;
              -ms-flex-order: 2;
                  order: 2; }
        .cards .card-body {
          -webkit-box-ordinal-group: 2;
          -webkit-order: 1;
              -ms-flex-order: 1;
                  order: 1;
          text-align: center !important;
          padding-bottom: 40px;
          max-width: 70%;
          margin: 0 auto; } }
    .cards .card-number {
      font-size: 30px; }
    .cards .card-title {
      font-size: 36px;
      line-height: 40px; }
    .cards .card-text {
      font-size: 14px;
      line-height: 24px;
      color: #7c8087; }
    .cards .card.first .card-img img {
      max-width: 85%; }
    .cards .card.second .card-img img {
      max-width: 100%; }
    .cards .card.third {
      margin-bottom: 90px; }

.carousel {
  margin-bottom: 50px;
  margin-top: 60px; }
  .carousel-indicators li {
    background: #e2e4e8;
    width: 33px;
    height: 5px;
    border: none;
    border-radius: 10px; }
    .carousel-indicators li.active {
      background: #8fc642; }
  .carousel-item > div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  .carousel .card {
    width: 25%;
    padding: 0 15px;
    border: none;
    margin-bottom: 60px; }
    .carousel .card-header {
      padding: 0;
      background: none;
      border: none;
      padding-bottom: 20px; }
      @media screen and (max-width: 1030px) {
        .carousel .card-header {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: start !important;
          -webkit-align-items: flex-start !important;
              -ms-flex-align: start !important;
                  align-items: flex-start !important; }
          .carousel .card-header .stars {
            margin-top: 10px; } }
      .carousel .card-header .name p {
        font-size: 16px;
        color: #1d293f;
        padding-left: 12px;
        font-weight: 400; }
    .carousel .card-content p {
      font-weight: 300;
      font-size: 13px;
      color: #7c8087;
      text-align: left; }
